body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color:#000;
}

a {color: #000; text-decoration: none;}
a:hover {color: #ff0000; text-decoration:underline;}

.bottom a {color: #000; text-decoration: none; font-size:14px;}
.bottom a:hover {color: #ff0000; text-decoration:underline; font-size:14px;}

.text {
	border-right: #cccccc 1px solid; padding-right: 2px; border-top: #cccccc 1px solid; padding-left: 2px; padding-bottom: 2px; border-left: #cccccc 1px solid; padding-top: 2px; border-bottom: #cccccc 1px solid
}

.name {font-size: 16px; color:#f60; font-weight:bold;}

.nav { background:#f38c03;}
.nav1 { background:#f38c03;}
.main-content{ width:1000px; margin:0 auto; background-color:#FFF; padding:5px;}
.main-content img{ width:160px;height:160px; border:0px}
.main-content h3{ font-size:16px; padding:10px  0 10px 30px; color:#F60}
.main-content  .col-mid{ border-bottom:#F63 dotted 2px;border-top:#F63 dotted 2px; width:800px; margin:0 auto; padding:5px 0px;}
.menu{ font-size:14px; color:#ffffff; text-decoration:none; text-align:center; background:url(../images/menu.jpg);font-family:"풕턼환쥌";}
.menu a{ font-size:16px;  color:#ffffff; line-height:45px; display:block;font-family:"풕턼환쥌";}
.menu a:hover{ color:#ffffff;font-weight:bold; background:url(../images/menu_hover.jpg); line-height:45px; display:block; text-decoration:none; font-family:"풕턼환쥌";}

.menu2{ font-size:14px; color:#ffffff; text-decoration:none; text-align:center; text-align:center;font-family:"풕턼환쥌";}
.menu2 a{ font-size:14px; color:#ffffff; background:url(../images/menu_hover.jpg); line-height:45px; display:block; text-align:center;font-family:"풕턼환쥌";}
.menu2 a:hover{ color:#ffffff;line-height:45px; display:block; text-decoration:none; text-align:center;font-family:"풕턼환쥌"; }

.menu3{ font-size:14px; color:#ffffff; text-decoration:none; text-align:center; background:#404040; font-family:"풕턼환쥌";}
.menu3 a{ font-size:14px; color:#ffffff; line-height:30px; display:block; font-weight:bold;font-family:"풕턼환쥌"; }
.menu3 a:hover{ color:#ffffff; background:#013775; line-height:30px; display:block; text-decoration:none;font-family:"풕턼환쥌"; }

.l_menu{ font-size:14px; color:#000; text-decoration:none; width:100px; text-align:center; background:url(../images/about_14.jpg) bottom center no-repeat;}
.l_menu a{ font-size:14px; color:#000; background:url(../images/about_14.jpg) bottom center no-repeat; line-height:35px; display:block; }
.l_menu a:hover{ color:#000;line-height:35px;background:url(../images/about_11.jpg) bottom center no-repeat;  display:block; text-decoration:none }
.left td a{ font-size:14px; color:#F60; font-weight:400;}
.bai2{font-size:14px; color:#ffffff; text-decoration:none; font-family:"풕턼환쥌";}
.con2{
	font-size:14px; color:#ffffff; text-decoration:none; font-family:"풕턼환쥌";
	}
.price{font-size:14px; color:#af0303; text-decoration:none; font-family:"풕턼환쥌";}
.more{ color:#404040; font-family:arial, helvetica, sans-serif}
.more a{ color:#ffffff; font-family:arial, helvetica, sans-serif; font-size:14px;}
.more a:hover{ color:#fc3; text-decoration:none; font-family:arial, helvetica, sans-serif}

.cp_b a{color: #444; text-decoration:none;}
.cp_b img{ padding:2px; border:1px #d4d4d4 solid;}
.cp_b a:hover img{ border:1px solid #b01513; }
.table-zuoyou {
	border-right: #cccccc 1px solid; border-left: #cccccc 1px solid; border-bottom: #cccccc 1px solid;
}
.table-shangxia {
	border-top: #cccccc 1px solid; border-bottom: #cccccc 1px solid
}
.table-you {
	border-right: #cccccc 1px solid
}
.table-zuo {
	border-left: #cccccc 1px solid
}
.table-shang {
	border-top: #cccccc 1px solid
}
.table-xia {
	border-bottom: #cccccc 1px solid
}
.table-xu {
	border-bottom: #cccccc 1px dotted
}
.wenbenkuang{height:20px; font-family:"풻";}

.reglogin{margin:0 auto; height:250px; width:450px; border:1px solid #795130;}
.reglogin tr{ background:#fff; height:30px; border-bottom:1px dashed #795130;}
.regtitle{height:28px; text-align:center; margin:1px; background:#795130; font-weight:bold; padding-top:7px; color:#FFFFFF; font-size:15px;}
.line{ height:25px; font-size:14px; padding:5px;}
.line a{ font-size:14px; padding-left:10px;}
.line a:hover{ color:#F00; text-decoration:none;}
.inda a img{  border:0px #FF9966 solid;}
.hline{height:300px; width:300px; left:500px; position:absolute; z-index:2; border:1px solid #ff0000;background:#FFFFFF}
.tallo{margin:20px; padding:0 5px; font-size:12px;}
.logoInt{width:350px; height:auto; background:#FDF7FB; line-height:30px; font-size:13px; text-align:left; padding:5px; margin:20px; border:2px solid #795130;}
.logoInt a{text-decoration:underline; color:#795130; font-weight:lighter; }
.logoInt a:visited{ text-decoration:underline; color:#795130;font-weight:lighter;}
.logoInt a:hover{text-decoration:none;color:#795130;font-weight:lighter;}
.height5{ height:5px;}
.height10{ height:10px;}
.height15{ height:15px;}
#div1 {
	position: absolute;
	width: 0px;
	height: 0px;
	z-index: 1;
	top: 196px;
	visibility: hidden;
}
#div2 {
	position: absolute;
	width: 125px;
	height: 115px;
	z-index: 1;
	left:3px;
}
#div3 {
	position: absolute;
	width: 125px;
	height: 115px;
	z-index: 91;
	left:129px;
}
#div4 {
	position: absolute;
	width: 140px;
	height: 115px;
	z-index: 91;
	left:320px;
}
.red{color:#ff0000;}
.searchBox{ float:right; width:250px; margin-top:5px;   }
.search_input{ background:url(../images/header_bg.png) 0 -108px;  width:175px;  height:25px; border:none; line-height:25px; padding-left:5px; float:left; margin-right:5px;padding: 0;}
.search_btn{ background:url(../images/header_bg.png) 0 -133px;  width:59px;  height:26px;line-height:25px; border:none; cursor:pointer; float:left;}
.bread{ float:left; padding-left:10px;}
table.dataTable {border-collapse: separate;border-spacing: 0;clear: both}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {cursor: pointer; background-repeat:no-repeat;background-position:right center}
table.dataTable thead .sorting{background-image:url(../images/dataTable/sort_both.png)}
table.dataTable thead .sorting_asc {background-image:url(../images/dataTable/sort_asc.png)}
table.dataTable thead .sorting_desc {background-image:url(../images/dataTable/sort_desc.png)}
.dataTable td.sorting_1 {background-color: #f5fafe}
.dataTables_wrapper .dataTables_length {float: left;padding-bottom:20px}
.dataTables_wrapper .dataTables_length .select{ width:50px}
.dataTables_wrapper .dataTables_filter {float: right;text-align: right}
.dataTables_wrapper .dataTables_filter .input-text { width:auto}
.dataTables_wrapper .dataTables_info {clear: both;float: left;padding-top:10px;font-size:14px; color:#666}
.dataTables_wrapper .dataTables_paginate {float: left;padding-top:10px;text-align: center}
.dataTables_wrapper .dataTables_paginate .paginate_button {border: 1px solid #ccc;cursor: pointer;display: inline-block;margin-left: 2px;text-align: center;text-decoration: none;color: #666;height: 26px;line-height: 26px;text-decoration: none;margin: 0 0px 6px 6px;padding: 0 10px;font-size:14px}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {background:#ff0000;;color:#fff}